ul li {
    font-size: 24px;
    display: inline;
    border-spacing: 10px;

}
ul li a {
    text-decoration: none;
    color:black;
    padding: 15px;
    margin-left: 0px;
}
.index_back {
    background-image: url("istockphoto-904172104-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 700px;
 } 
.nav-1:hover{
    background-color: wheat;
    padding: 10PX 10PX;
    color: black;
    border-radius: 10px;
}
h1{
    font-size: 100px;
    margin-top: 60px;
}
h3 {
    font-size: 28px;

}
.image1 img {
 width: 540px;
 height: 540px;
 gap: 20px;
 border-radius: 30px;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.image1 img:hover {
   transform: scale(1.1);
   border: 2px; 
}
.places {
    background-color: aqua;
}
.about {
    font-size: 40px;
    background-color: blueviolet;
}
d {
    font-size: 80px;
    }
.symbol img {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
}
c {
    font-size: 50px;
}
.contact {
    background-color: aquamarine;
}
.info {
    background-color: aquamarine;
}
.login {
    width: 100;
    display: inline-block;
}
z {
    font-size: 80px;
}
